#code{
  width:50%;
  float:left;
}
#codemirror-textarea{
  box-shadow: 2px 2px 2px grey;
  width:50%;
}
#preview-comment{
  float:right;
  width:47%;
  height: 619px;
  overflow-y: scroll;
  overflow-x: scroll;
  box-shadow: 2px 2px grey;
  background-color:white;
}

body{
	/* background-color: #2C3B45; */
  background-color:#f1f3f4;
}

.MathJax_Display {
  text-align: left !important;
}
